<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of users The System</title>
</head>
<body>
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>Username</th>
                <th>Password</th>
                <th>email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${users}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.username}"></td>
                <td th:text="${member.password}"></td>
                <td th:text="${member.email}"></td>
                <td><a th:href="@{user-update/{id}(id=${member.id})}">Edit</a></td>
                <td><a th:href="@{user-delete/{id}(id=${member.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/user-create">Create user</a></p>
</div>
</body>
</html>